@layer default {
  :root,
  *::backdrop {
    /* Color Tokens */
    --gray-0: #ffffff;
    --gray-5: #f0f0f0;
    --gray-90: #1b1b1b;

    --gray-cool-10: #dfe1e2;
    --gray-cool-30: #a9aeb1;
    --gray-cool-50: #71767a;
    --gray-cool-60: #565c65;
    --gray-cool-70: #3d4551;
    --gray-cool-90: #1c1d1f;

    --blue-10: #d9e8f6;
    --blue-30: #73b3e7;

    --blue-60v: #005ea2;

    --blue-warm-60v: #0050d8;
    --blue-warm-70v: #1a4480;
    --blue-warm-80v: #162e51;

    --base-lightest: var(--gray-5);
    --base-lighter: var(--gray-cool-10);
    --base-light: var(--gray-cool-30);
    --base: var(--gray-cool-50);
    --base-dark: var(--gray-cool-60);
    --base-darker: var(--gray-cool-70);
    --base-darkest: var(--gray-90);

    /* Border Tokens */
    --border-width-05: 0.25rem;

    --radius-md: 0.25rem;
    --radius-lg: 0.5rem;

    /* Typography */
    --font-family-system: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Noto Sans, Ubuntu, Cantarell, Helvetica Neue;

    --font-size-2xs: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.375rem;
    --font-size-xl: 2rem;

    --font-weight-bold: 700;

    --line-height-1: 1;
    --line-height-2: 1.15;
    --line-height-4: 1.5;

    --heading-1: var(--font-weight-bold) var(--font-size-xl) / var(--line-height-1)
      var(--font-family-system);
    --heading-2: var(--font-weight-bold) var(--font-size-lg) / var(--line-height-2)
      var(--font-family-system);
    --body-1: var(--font-size-md) / var(--line-height-4) var(--font-family-system);
    --small-1: var(--font-size-2xs) / var(--line-height-2) var(--font-family-system);

    /* Size Tokens */
    --space-2px: 2px;
    --space-05: 0.25rem;
    --space-105: 0.75rem;
    --space-205: 1.25rem;
    --space-2: 1rem;

    --size-mobile-lg: 30rem;

    /* Shadows */
    --shadow-1: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    --shadow-4: 0 12px 24px 0 rgba(0, 0, 0, 0.1);

    /* Theme */
    --surface-1: var(--base-lightest);
    --text-1: var(--base-darkest);

    --primary-lighter: var(--blue-10);
    --primary-light: var(--blue-30);
    --primary: var(--blue-60v);
    --primary-vivid: var(--blue-warm-60v);
    --primary-dark: var(--blue-warm-70v);
    --primary-darker: var(--blue-warm-80v);
  }

  html {
    background-color: var(--surface-1);
    color: var(--text-1);
  }

  body {
    font: var(--body-1);
  }

  body,
  main {
    display: flex;
    flex-direction: column;
  }

  main {
    --gutter: var(--space-2);
    gap: var(--gutter);
    overflow-y: auto;
  }

  body > header {
    flex: 0 0 auto;
  }

  body > main {
    flex: 1 1 auto;
  }

  main > * {
    flex: 1 1 auto;
  }

  dialog {
    background-color: var(--base-lightest);
    border: none;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-4);
    display: grid;
    grid-template-rows: auto 1fr auto;
    inline-size: min(90vi, var(--size-mobile-lg));
    inset: 0;
    margin: auto;
    max-block-size: 90vb;
    max-block-size: 90dvb;
    overflow: clip;
    padding: 0;
    position: fixed;
    transition-duration: 300ms;
    transition-property: opacity, transform, visibility;
    transition-timing-function: ease;
  }

  dialog:not([open]) {
    opacity: 0;
    visibility: hidden;
  }

  dialog > * {
    background-color: var(--gray-0);
    padding-block: var(--space, var(--space-105));
    padding-inline: var(--space-105);
  }

  dialog > header,
  dialog > footer {
    background-color: transparent;
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    dialog {
      transform: scale(1);
    }

    dialog:not([open]) {
      transform: scale(0.9);
    }
  }

  dialog::backdrop {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }

  form,
  form > p {
    display: flex;
    flex-direction: column;
    gap: var(--space, var(--space-2));
    justify-items: start;
  }

  form > p {
    --space: var(--space-05);
  }

  button {
    --_border: var(--button-border, var(--_face));
    --_border-active: var(--button-border-active, var(--_button-border));
    --_border-hover: var(--button-border-hover, var(--_button-border));
    --_face: var(--button-face, var(--base));
    --_face-active: var(--button-face-active, var(--_face));
    --_face-hover: var(--button-face-hover, var(--_face));
    --_padding-block: var(--space-105);
    --_padding-inline: var(--space-205);
    --_text: var(--button-text, var(--gray-0));
    --_text-active: var(--button-text-active, var(--_text));
    --_text-hover: var(--button-text-hover, var(--_text));

    background-color: var(--_face);
    border: none;
    border-radius: var(--radius-md);
    box-shadow: inset 0 0 0 var(--space-2px) var(--_border);
    color: var(--_text);
    font-weight: var(--font-weight-bold);
    line-height: 1;
    padding-block: var(--_padding-block);
    padding-inline: var(--_padding-inline);
  }

  button:hover {
    background-color: var(--_face-hover);
    box-shadow: inset 0 0 0 var(--space-2px) var(--_border-hover);
    color: var(--_text-hover);
  }

  button:active {
    background-color: var(--_face-active);
    box-shadow: inset 0 0 0 var(--space-2px) var(--_border-active);
    color: var(--_text-active);
  }

  button.primary {
    --button-face: var(--primary);
    --button-face-active: var(--primary-darker);
    --button-face-hover: var(--primary-dark);
  }

  button.outline {
    --button-border: var(--primary);
    --button-border-active: var(--primary-darker);
    --button-border-hover: var(--primary-dark);
    --button-border-width: var(--space-05);
    --button-face: transparent;
    --button-text: var(--primary);
    --button-text-active: var(--primary-darker);
    --button-text-hover: var(--primary-dark);
  }

  select {
    padding: var(--space-05);
  }

  .icon {
    aspect-ratio: 1 / 1;
    display: inline-block;
    height: auto;
    vertical-align: middle;
    width: 2em;
  }

  :focus {
    outline: var(--border-width-05) solid var(--primary-light);
    outline-offset: var(--border-width-05);
  }

  :focus:not(:focus-visible) {
    /* Ensures that the focus indicator is only visible if someone has focused the
     * control using something other than a mouse. Without this, the focus ring
     * will show any time someone clicks a button or link. We use this selector for
     * backwards compatibility with browsers that don't support :focus-visible; in
     * those cases, the focus ring will be shown even when the button is clicked,
     * which is better than never.
     */
    outline-color: transparent;
  }
}
