@layer layout {
  .cluster {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space, 1rem);
    justify-content: flex-start;
  }

  .grid {
    display: grid;
    gap: var(--gutter, var(--space-2));

    grid-auto-rows: var(--row-size, auto);
    grid-template-columns: repeat(
      auto-fit,
      var(--column-size, minmax(min(30rem, 100%), 1fr))
    );
  }
}
