@layer utility {
  /* Color */
  .bg-white {
    background-color: var(--gray-0);
  }
  .bg-primary-dark {
    background-color: var(--primary-dark);
  }
  .bg-primary-darker {
    background-color: var(--primary-darker);
  }

  .text-white {
    color: var(--gray-0);
  }

  /* Typography */
  .body-1 {
    font: var(--body-1);
  }

  .heading-2 {
    font: var(--heading-2);
  }

  /* Spacing */
  .padding-2 {
    padding: var(--space-2);
  }

  /* Layout */
  .flex-0 {
    flex: 0 0 auto;
  }

  .justify {
    justify-content: space-between;
  }

  /* Border */
  .radius-md {
    border-radius: var(--space-05);
  }

  /* Shadows */
  .shadow-1 {
    box-shadow: var(--shadow-1);
  }
}
