* {
  margin: 0;
}

html,
body {
  overflow: hidden;

  height: 100%;
}

body {
  isolation: isolate;
  flex-direction: column;

  display: flex;

  height: 100%;
}

main {
  flex: 1 1 auto;

  overflow-y: auto;
  scrollbar-gutter: stable;
}

svg {
  display: block;
}
