@use "uswds-core" as uswds;

[data-layout="cluster"] {
  flex-direction: row;
  flex-wrap: wrap;
  gap: uswds.units(2);

  display: flex;
}

:where(.flow) > * + * {
  margin-top: var(--space, uswds.units(2));
}
