[data-layout="cluster"] {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-2);

  display: flex;
}

[data-layout="grid"] {
  gap: var(--gutter, var(--space-2));

  display: grid;

  grid-auto-rows: var(--row-size);

  grid-template-columns: repeat(
    auto-fit,
    var(--column-size, minmax(min(30rem, 100%), 1fr))
  );
}

[data-colspan="full"] {
  grid-column: 1 / -1;
}

:where(.flow) > * + * {
  margin-top: var(--space, var(--space-s));
}
