@mixin css {
  * {
    margin: 0;
    box-sizing: border-box;

    font: inherit;
  }

  html,
  body {
    overflow: clip;

    height: 100%;
  }

  svg {
    display: block;
  }

  [role="list"] {
    list-style: none;

    > li {
      padding: 0;
    }
  }
}
